<ion-view title="Add workouts">
   <ion-tabs class="tabs-positive tabs-icon-only">
  <ion-tab title="Gym">
  	<ion-content class="has-header">
	  <ion-list>
	     <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        My workouts / Create <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        Standard workouts <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        By trainers <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        By magazines <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        Popular <i class="icon ion-chevron-right"></i>
	    </ion-item>
	  </ion-list>
	  <h4>you can create your personal program bla bla bla push + button</h4>
 	 </ion-content>
  </ion-tab>

  <ion-tab title="Cardio">
    <ion-content class="has-header">
	  <ion-list>
	     <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        My workouts / Create <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        Standard workouts <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        By trainers <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        By magazines <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        Popular <i class="icon ion-chevron-right"></i>
	    </ion-item>
	  </ion-list>
	  <h4>you can create your personal program bla bla bla push + button</h4>
 	 </ion-content>
  </ion-tab>

  <ion-tab title="Fitness">
   <ion-content class="has-header">
	 <ion-list>
	     <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        My workouts / Create <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        Standard workouts <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        By trainers <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        By magazines <i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class='item item-icon-right' href="#/app/workouts/{{item.id}}">
	        Popular <i class="icon ion-chevron-right"></i>
	    </ion-item>
	  </ion-list>
	  <h4>you can create your personal program bla bla bla push + button</h4>
 	 </ion-content>
  </ion-tab>

</ion-tabs>

</ion-view>