<ion-view title="Workouts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class='item item-icon-right' ng-repeat="workout in workouts" href="#/app/workout/{{workout.id}}">
        {{workout.title}} <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>  
  </ion-content>
</ion-view>