<ion-view title="Workouts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href='#/app/addworkout' menu-toggle="right" class="button button-icon icon ion-plus-round"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
     <div class="item item-divider">
      Workout Sushka 1
    </div>
      <ion-item class='item item-icon-right' ng-repeat="workout in workouts" href="#/app/workout/{{workout.id}}">
        {{workout.title}} <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>    
     <button class="button button-block button-positive">
    Change Workout
  </button>
  </ion-content>
</ion-view>