<ion-view title="Easy Fit Pro">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href='#/app/addworkout' menu-toggle="right" class="button button-icon icon ion-plus-round"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
     <div class="item item-divider">
      <h3 class="subheader">Личная программа</h3>
      <h1 class="header">{{workout.workout_name}}</h1>
    </div>
      <ion-item class='item item-icon-right list-item' ng-repeat="training in trainings" href="#/app/training/{{training._id}}">
        {{training.training_name}} 
        <span class="item-note balanced">
          {{training.training_type}}
        </span>
      </ion-item>
    </ion-list>  
    <div class="footer-buttons">  
     <button class="button button-block button-dark">
    Change Workout
  </button>
  </div>
  </ion-content>
</ion-view>
