<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class='menu'>
    <div class="bar bar-header item-input-inset">
        <input type="text" placeholder="Search">
        <i class="button button-clear icon-right ion-search"></i>
      </label>
    </div>
      <ion-list>
        <ion-item nav-clear menu-close class="email-item" href="#/app/home">
          <div>{{userData.username.first_name}} {{userData.username.last_name}}</div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/edit_training">
          <img src="../img/refresh.png"alt="" class="img"><span>Сменить программу</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/statistics">
          <img src="../img/statistics.png" alt="" class="img"><span>Статистика</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/results">
          <img src="../img/fire.png" alt="" class="img"><span>Результаты</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/trainings_favorite">
          <img src="../img/star.png" alt="" class="img"><span>Избранное</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
