<ion-view title="Результаты">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href='#/app/addworkout' menu-toggle="right" class="button button-icon icon ion-plus-round"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class='item'>
        Вес: <input type="number">
      </ion-item>
      <ion-item class='item'>
        Жим:<input type="number">
      </ion-item>
      <ion-item class='item'>
        Приседания:<input type="number">
      </ion-item>
      <ion-item class='item'>
        Становая:<input type="number">
      </ion-item>
    </ion-list>    
     <button class="button button-block button-positive">
        Сохранить
      </button>
      <button class="button button-block button-energized">
        Обнулить
      </button>
  </ion-content>
</ion-view>