<div class="modal">
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="registerData.first_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="registerData.last_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" required ng-model="registerData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Repeat Password</span>
          <input type="password" ng-model="registerData.repeatPassword">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" >Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

