<ion-view title="Статистика">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header"> 
    <p class="stat_data">Вес:</p>
    <p class="stat_data">Жим:</p>
    <p class="stat_data">Приседания:</p>
    <p class="stat_data">Становая:</p>
  </ion-content>

   <div class="tabs-striped tabs-color-positive">
    <div class="tabs">
      <a class="tab-item active" href='#/app/statistics'>
        Зал
      </a>
      <a class="tab-item" href='#/app/statistics/fitness'>
        Фитнесс
      </a>
      <a class="tab-item" href='#/app/statistics/cardio'>
        Кардио
      </a>
    </div>
  </div>

</ion-view>