<ion-view title="Результаты" class="training-info-page">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <a href='#/app/addworkout' menu-toggle="right" class="button button-icon icon ion-plus-round"></a>
    </ion-nav-buttons>
    <ion-content class="has-header content training" scroll="false">
        <div class="item item-divider">
            <h3 class="subheader">{{training.training_type}}</h3>
            <h1 class="header">{{training.training_name}}</h1>
        </div>
        <ion-content scroll="true" overflow-scroll="true" class="training-list-wrap">
            <ion-list>
                <ion-item class='item item-icon-right list-item training-item' ng-repeat="excersize in training.excersizes">
                    {{excersize.name}}
                    <div class="subheader">Отдых: {{excersize.pause}} секунд</div>
                    <span class="item-note balanced helper">раз</span>
                    <span class="item-note balanced">
          {{excersize.repeats}} 
        </span>

                </ion-item>
            </ion-list>
            <!-- Table End -->
        </ion-content>
    </ion-content>
    <div class="footer-buttons">
        <button class="button button-block start-training" ng-click="goToState('app.training_process')">
            Начать тренировку
        </button>
        <button class="button button-block favorites" ng-click="showAlert('Добавлено :)')">
            В избранное
        </button>
    </div>
</ion-view>
