<ion-view title="Результаты">
 <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
 
  <ion-content class="has-header content training_process">
    <timer interval="1000" countdown="100">{{countdown}}</timer>
    <div class="footer-buttons">
       <button class="button start-training">
          <a href="#/app/training/training_process">Прервать</a>
        </button>
        <button class="button favorites" ng-click="showAlert('Добавлено :)')">
          Пауза
        </button>
      </div>
  </ion-content>
</ion-view>