<ion-view title="Workouts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href='#/app/addworkout' menu-toggle="right" class="button button-icon icon ion-plus-round"></a>
  </ion-nav-buttons>
   
    <!--  <button class="button button-block button-positive">
    Change Workout
  </button> -->
  <ion-tabs class="tabs-positive tabs-icon-only">
  <!-- gym tab -->
  <ion-tab title="Gym">
    <ion-content class="has-header">
     <ion-list ng-repeat="workout in workout_list">
     <div class="item item-divider">
        {{workout.workout_name}}
      </div>
      <ion-item class='item item-icon-right' ng-repeat="training in workout.workout_trainings" href="#/app/training/{{training.training_id}}">
        {{training.training_name}} <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>    
    <h4>you can create your personal program bla bla bla push + button</h4>
   </ion-content>
  </ion-tab>
  <!-- /gym tab   -->
  <!-- cardio tab -->
  <ion-tab title="Cardio">
    <ion-content class="has-header">
     <ion-list ng-repeat="workout in workout_list">
     <div class="item item-divider">
        {{workout.workout_name}}
      </div>
      <ion-item class='item item-icon-right' ng-repeat="training in workout.workout_trainings" href="#/app/training/{{training.training_id}}">
        {{training.training_name}} <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>    
    <h4>you can create your personal program bla bla bla push + button</h4>
   </ion-content>
  </ion-tab>
  <!-- /cardio tab -->
  <!-- fitness tab -->
  <ion-tab title="Fitness">
    <ion-content class="has-header">
     <ion-list ng-repeat="workout in workout_list">
     <div class="item item-divider">
        {{workout.workout_name}}
      </div>
      <ion-item class='item item-icon-right' ng-repeat="training in workout.workout_trainings" href="#/app/training/{{training.training_id}}">
        {{training.training_name}} <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>    
    <h4>you can create your personal program bla bla bla push + button</h4>
   </ion-content>
  </ion-tab>
  <!-- /fitness tab -->
</ion-tabs>
 
</ion-view>