/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #e1001a !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #2f2f2f !default;

$button-stable-border:            #e1001a !default;
$button-stable-active-bg:         #e1001a !default;
$button-stable-active-border:     #e1001a !default;

.menu, .scroll-content, .item.list-item{
	background-color: #1C1C1C !important;
	border-color: #1C1C1C !important;
	background: #1C1C1C !important;
	color: #fff;
}

.item-divider h1.header{
	color:  #ffffff;
	margin-top: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	color:  #ffffff !important;
}
.item img{width: 20px; height: 20px; margin: 5px; margin-right: 15px;}
.menu .item span {top: -8px; position: relative;}
.training .item span.item-note {top: -28px; position: relative; font-size: 36px; color:  #ffc426; font-weight: 100;}
.training .item span.item-note.helper {top: -27px; position: relative; font-size: 16px; color: #ffffff; margin-left: 5px;}
.training .item .subheader {color:  #515151; font-size: 14px;}
.button.start-training {background-color:  #4b8200; border-color: #4b8200;}
.button.favorites {background-color:  #c85900; border-color: #c85900;}
.footer-buttons{ position: fixed; bottom: 50px; width: 100%;}
.item.email-item a{
	background: url('../img/dumbells.png');
	height: 150px;
	text-align: left;
	vertical-align: bottom;
	padding-top: 115px;
	background-size: 100% 100%;
}

.item.item-complex, a.item.item-complex, button.item.item-complex
{
	border:none;
}

.menu .bar-header, .menu .bar-header input, .menu .bar-header .button
{
	background-color:  #e1001a;
	color: #FFF; 
}
.item.item-divider{padding-top: 38px; padding-bottom: 38px;}
.item-divider h3.subheader{
	font-family: Roboto;
	color:  #515151;
}

@font-face {
    font-family: "Exo 2";
    src: url("../fonts/Exo-2.woff");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
	font-family: 'Exo 2', sans-serif;
}


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

