/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "Exo 2";
    src: url("../fonts/Exo-2.woff");
}

* {
	font-family: 'Exo 2', sans-serif;
}

.button{
	background: #2f2f2f;
}

.training-info-page .footer-buttons {
	padding: 0 15px;
	background: #1c1c1c;
	position: absolute;
	height: 130px;
	bottom: 0;
	z-index: 99;
}
.training-info-page .training-list-wrap {
	top: 140px;
	bottom: 130px;
}
.training-info-page .training-list-wrap .training-item {
	border-color: #212121 !important;
}

.button.start-training a,
.button.start-training a:hover,
.button.start-training a:focus,
.button.start-training a:visited{
	text-decoration: none;
	color: #fff;
}

ion-nav-view{
	background: red;
}